/* สีส้ม #333333
สีเขียว #092D53 */

/* btn-select custom-select */

/* color theme */

.bg-white {
    color: #333333;
}

.c-main {
    /* background-color: #f8f8f8; */
    /* background-color: antiquewhite; */
    padding-bottom: 2rem;
    position: relative;
}

.c-sidebar {
    /* background: #3c4b64; */
    background: #fff;
    will-change: auto;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.c-sidebar-nav {
    font-size: 13px;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
}

.c-footer-fixed, .c-header-fixed {
    z-index: 990 !important;
}

.c-sidebar .c-sidebar-brand {
    color: #333333;
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.c-sidebar .active {
    background: #092D53 !important;
}

.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    /* color: rgba(255, 255, 255, 0.8); */
    color: #333333 !important;
}

.c-sidebar .c-sidebar-minimizer {
    background-color: #f1f1f1 !important;
}

.c-sidebar-nav-link:hover, .c-sidebar-nav-dropdown-toggle:hover {
    background: #FFB300 !important;
}

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    background: #FFB300 !important;
    color: #092D53 !important;
    font-weight: bold;
}

.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: #092D53 !important;
}

.c-sidebar-nav-dropdown.c-show>.c-sidebar-nav-dropdown-items {
    background: #dcdcdc;
}

.template-color-green, .c-header-toggler-icon {
    color: #092D53 !important;
}

.c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown {
    background-color: #dcdcdc;
}

a {
    color: #092D53;
}

a:hover, .header-login {
    color: #FFB300;
}

.theheader-txt {
    color: #FFB300;
    font-size: 24px;
    margin-top: 14px;
    font-weight: bold;
}

.header-main {
    font-size: 26px;
}

.container {
    max-width: 100% !important;
}

.custom-select:focus {
    border-color: #092D53;
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.two-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.three-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to
/* .fade-leave-active below version 2.1.8 */

    {
    opacity: 0;
}

/* color theme */

@font-face {
    font-family: "Kanit-Regular";
    src: url('./assets/fonts/Kanit-Regular.ttf');
}

@font-face {
    font-family: "Kanit-Light";
    src: url('./assets/fonts/Kanit-Light.ttf');
}

@font-face {
    font-family: "Kanit-Bold";
    src: url('./assets/fonts/Kanit-Bold.ttf');
}

@font-face {
    font-family: "Kanit-Medium";
    src: url('./assets/fonts/Kanit-Medium.ttf');
}

@font-face {
    font-family: "Kanit-SemiBold";
    src: url('./assets/fonts/Kanit-SemiBold.ttf');
}

@font-face {
    font-family: "Kanit-Thin";
    src: url('./assets/fonts/Kanit-Thin.ttf');
}

@font-face {
    font-family: "Kanit-LightItalic";
    src: url('./assets/fonts/Kanit-LightItalic.ttf');
}

*:focus {
    box-shadow: none !important;
    outline: none !important;
}

body {
    font-family: "Kanit-Regular" !important;
    background-color: white;
    margin: 0 !important;
    font-size: 1rem;
}

.CSidebarBrand {
    background-color: #ffffff !important;
}

.b-sidebar {
    background-color: white !important;
    color: black !important;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle::after {
    background-image: url('./assets/images/arrow.png');
}

/* login css */

.login {
    max-width: 500px;
}

.login-input div label {
    display: none;
}

.login-container {
    background: #333333;
}

.login-input div input {
    padding: 15px !important;
    font-size: 16px;
    border-radius: 20px !important;
    background: #FFFFFF;
    border: #FFFFFF solid 1px;
    color: #000;
    text-align: center;
    margin: 20px 0;
    width: 100% !important;
    font-weight: bold;
}

.login-input div {
    text-align: center !important;
}

.login-btn {
    padding: 15px !important;
    font-size: 16px;
    border-radius: 20px !important;
    background: #333333;
    border: #333333 solid 1px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: auto;
    transition: 0.3s;
    font-weight: bold;
}

.login-btn:hover, .login-btn.disabled, .login-btn:disabled {
    background: #FFB300;
    color: #ffffff;
    border: #FFB300 solid 1px;
}

.main-color {
    color: #16274a;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

div, p {
    white-space: normal;
    /* word-break: break-word; */
}

.btn-delete {
    border-radius: 0;
    transition: 0.3s;
    width: 150px !important;
}

.btn-save-exit {
    background: white;
    color: black !important;
    border-radius: 0;
    transition: 0.3s;
}

.btn-save-exit:hover {
    background: #1085FF;
    color: white !important;
    border-color: white;
}

.btn-save, .btn-cancel {
    background: #fff;
    color: #242424 !important;
    border-radius: 0;
    border-color: #242424;
}

.btn-cancel:hover, .btn-cancel:disabled {
    background: #242424;
    color: #fff !important;
    border-radius: 0;
    border-color: #242424;
}

.btn-cancel:disabled {
    opacity: 0.5;
}

.button, .btn-details-set {
    width: 140px;
    font-weight: bold;
}

.btn-purple, .btn-purple:hover {
    background-color: #5B57A5;
    color: #FFFFFF;
}

.dropdown-menu-right {
    width: 300px;
    padding: 16px;
}

.table thead th, .table td {
    text-align: center;
    vertical-align: middle;
    border: none;
}

.page-item.active .page-link {
    background-color: #646467;;
    border-color: #646467;;
}

.page-item .page-link {
    color: #092D53;
}

.page-item .page-link:hover {
    color: white;
    background-color: #333333;
}

.panel-input-serach, .statusListDropdown {
    background-color: #fff;
    border: 2px solid #fff !important;
    color: #4a4a4a;
    width: 100%;
    margin-right: 10px;
}

.panel-input-serach {
    color: #092D53 !important;
    max-width: 350px;
}

.panel-input-serach:focus-within {
    border-color: #092D53 !important;
}

.tab-active-report {
    color: white !important;
    background-color: #092D53 !important;
}

.tab-report {
    color: black !important;
}

.input-serach {
    /* font-family: "Kanit-Medium"; */
    background-color: #fff;
    border: 10px !important;
    color: #4a4a4a;
    height: 100%;
}

.table-list thead, .b-table-sticky-column {
    background-color: #dbdbdb !important;
}

.imgLogo {
    width: 100%;
    padding-bottom: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

/* .label-select-dropdownlist{  
    width: 100%; 
    height: 20%;
    color: #4a4a4a;
} */

/* .input-select-dropdownlist{
    background-color: #f8f8f8;
    border: none !important;
    border-radius: 10px !important;    
    height: 65%;
    width: 100%; 
} */

.input-serach:focus {
    background-color: #fff;
    border: 0 !important;
    box-shadow: none;
    border-radius: 0;
}

.input-group-prepend, .pointer {
    cursor: pointer !important;
}

.logo-mobile {
    width: 120px;
    height: 30px;
    position: relative;
    top: 10px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg-white-border {
    /* border-top: 5px solid #16274a; */
    border-top: 5px solid #092D53;
    background-color: #FFFFFF;
}

.btn-language {
    font-family: "Kanit-Medium" !important;
    color: #424242;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 0 0 0 5px;
    height: 40px;
    padding: 5px 10px;
}

.btn-language.active, .btn-language:hover:enabled {
    color: white !important;
    background-color: #16274a !important;
    border-color: #16274a;
}

.logo-lang {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    /* right: 15px; */
}

.preview-box {
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border: 2px dashed #bfbfbf;
    margin-bottom: 15px;
    position: relative;
}

.square-ratio {
    width: 50%;
    padding-bottom: 50%;
}

.ratio-4-3-pb {
    padding-bottom: 75% !important;
}

.ratio-4-3-pt {
    padding-top: 75% !important;
}

.ratio-16-9-pb {
    padding-bottom: 42.9% !important;
}

.ratio-16-9-pt {
    padding-top: 42.9% !important;
}

.collapse-btn, .collapse-btn:hover {
    width: 100%;
    text-align: left;
    border-radius: 0;
    background-color: #DBDBDB;
    color: #092D53;
    border-color: #DBDBDB;
    font-size: 16px;
}

.collapsed>.fa-chevron-down, :not(.collapsed)>.fa-chevron-right {
    display: none;
}

.arrow-logo {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 20px;
    color: white;
}

.main-label {
    color: #16274a;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
}

.radio-active .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #333333;
    background-color: #333333;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #333333;
    background-color: #333333;
}

.text-underline {
    text-decoration: underline;
}

.date-filter .vdatetime-input {
    width: 100%;
    background-color: #f8f8f8;
    border: 10px !important;
    color: #4a4a4a;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.date-picker .vdatetime-input {
    width: 100%;
    color: #16274a;
    border: 1px solid #bcbcbc;
    border-radius: 0px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.w-500 .dropdown-menu-right {
    width: 400px;
}

.line {
    width: 100%;
    border-bottom: 3px solid #16274a;
    line-height: .1em;
    margin: 10px 0 20px 0;
    position: absolute;
    top: 12px;
    z-index: 0;
}

.title-line {
    text-align: left;
    /* font-family: Kanit-Medium; */
    color: #16274a;
    font-size: 30px;
    background: #fff!important;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}

.preview-box-slip {
    width: 50%;
    padding-bottom: 30%;
    background-size: contain;
    margin: auto !important;
}

.btn-main, .btn-mains button {
    background-color: #092D53 !important;
    color: #FFFFFF !important;
    min-width: 150px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 0;
}

.btn-main:hover {
    background-color: #FFB300 !important;
}

.btn-main-2 {
    background-color: #333333 !important;
    color: #FFFFFF !important;
    width: 125px;
    font-weight: bold;
}

.btn-main-2:hover {
    background-color: rgb(243, 144, 63) !important;
}

.btn-sub {
    background-color: #FFFFFF !important;
    color: #0D1730 !important;
    width: 125px;
    font-weight: bold;
}

.video-thumbnail {
    padding-bottom: 55%;
}

/* .transaction-table tbody>tr {
    cursor: pointer !important;
} */

.w-200 {
    min-width: 260px !important;
}

.w-100px {
    min-width: 150px!important;
}

.w-50px {
    min-width: 50px!important;
}

.label-text {
    color: #16274a;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
}

.nobreak {
    word-break: normal;
}

.total-record-paging {
    text-align: center;
    color: #4f5d73;
    margin-top: 7px;
}

.btn-filter {
    background-color: #5B57A5 !important;
    color: #FFFFFF !important;
    /* width: 205px; */
    font-weight: bold;
    white-space: nowrap;
}

.store-type-box {
    /* border: 1px solid #bcbcbc; */
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.parent-cat {
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.small-dropdown ul {
    width: auto;
    padding: 0.5rem 0;
}

.time .vdatetime-input {
    border: none;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin: auto;
}

.bank-img {
    width: 25%;
    padding-bottom: 25%;
    background-size: contain;
}

.loading, .set-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
}

.image-bank-logo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 5px;
}

.custom-checkbox.b-custom-control-lg>label, .input-group-lg .custom-checkbox>label {
    font-size: 17px;
    color: #16274a;
    line-height: 2;
}

.pl-lv4-cb {
    margin-left: 55px;
}

.inline-input {
    border: 1px solid #d8dbe0;
    text-align: center;
    width: 100px;
    margin: auto;
}

ี.url-link-input {
    border: 1px solid #d8dbe0;
    text-align: center;
    width: 200px;
    margin: auto;
}

.inline-input:focus {
    border: 1px solid #958bef;
}

.error {
    border-color: red;
}

.no-pointer {
    pointer-events: none;
}

.medium-dd ul {
    width: 200px;
}

.img-doc {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.text-modal {
    font-family: "Kanit-SemiBold" !important;
    color: #16274A;
    margin-bottom: 0;
    font-size: 26px;
}

.m-unset {
    margin: initial;
}

.btn-group-status {
    display: inline-block;
}

.btn-group-status button {
    background-color: transparent;
    padding-left: 0;
    white-space: nowrap;
    margin-right: 10px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
}

.btn-group-status button:focus, .btn-group-status button:hover, .btn-group-status button:active {
    background-color: transparent !important;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding-left: 0;
    color: #FFB300 !important;
    text-decoration: underline !important;
}

.b-contain {
    background-size: contain !important;
}

.w-300 {
    width: 300px;
}

.status-select select {
    width: 200px;
}

.tab-content {
    margin-top: 10px;
}

.product-tabs .nav-tabs {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    background: white;
}

.nav-tabs .nav-link {
    font-size: 16px;
    min-width: 190px;
    text-align: center;
    color: #092D53;
    background-color: #FFF;
    border-bottom: 3px solid #FFF;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #FFF;
    border-bottom: 3px solid #FFB300;
    color: #FFB300;
    font-weight: bold;
}

.btn-box {
    background: #1085FF;
}

.square-box {
    margin: auto;
    width: 75%;
    padding-top: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray-box {
    background: #F1F1F1;
    color: #333333;
}

.text-blue {
    color: #1085FF;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 20px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}

.f-10 {
    font-size: 10px;
}

.txt-relative {
    position: relative;
    top: 5px;
}

::v-deep .card-seo .card-body {
    padding: 0 10px !important;
}

.previre-ratio-5625 {
    padding-bottom: 56.25% !important;
}

table td, .table th {
    padding: .75rem!important;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}

.bg-gray-return {
    background-color: #DBDBDB;
}

.square-ratio-pt {
    width: 50% !important;
    padding-top: 50% !important;
}

.nowrap {
    white-space: nowrap;
}

.breakword {
    word-break: break-word;
}

@media (max-width: 1200px) {
    .panel-input-serach {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .btn-details-set {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .layout-paging {
        /* text-align: center; */
        width: 100%;
    }
    .btn-group-status {
        display: inline-flex;
    }
    .header-main {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .container-fluid, .min-vh-100 {
        padding: 0;
    }
    .login-input div input {
        width: 100% !important;
    }
    .dropdown-filter {
        width: 100%;
    }
    .w-500 .dropdown-menu-right {
        width: 300px;
    }
    .preview-box-slip {
        width: 100%;
        padding-bottom: 50%;
    }
    h1 {
        font-size: 26px;
    }
    .panel-input-serach, .statusListDropdown, .panel-select-dropdownlist, .sortByDropdown {
        height: 2.5rem !important;
    }
    .btn-filter button, .button, .btn-main, .btn-main-2, .btn-sub {
        width: 115px;
    }
    .w-100px {
        min-width: 125px!important;
    }
    .imgLogo {
        padding-bottom: 25%;
    }
    .nopadding-mobile {
        padding: 0;
    }
    .nomargin-mobile {
        margin: 0;
    }
    /* 
    .input-select-dropdownlist{
        height: 100%;     
    } */
    .card-body {
        /* padding: 1.25rem 0; */
    }
    .login-box {
        padding: 0 !important;
    }
    .header {
        font-size: 24px;
    }
    .btn-filter, .btn-mains button {
        width: auto !important;
    }
    .time .vdatetime-input {
        width: 75px;
    }
    .status-select {
        width: auto;
    }
    .c-main {
        padding-top: 1em;
    }
    .select-page {
        width: 200px;
        margin-bottom: 16px;
    }
}